{% extends 'layout/base.html' %}
{% load static %}
{% block title %}  All Books  {% endblock %}

{% block content %}


    <br/>
    <h2 style="text-align:center;font-size:40px"> All Books </h2>
    <br/>

    {% for book in all_books %}

        <div style="display:inline-block">
            <div class="card" style="width: 18rem;">
                <img src="{{ book.get_image_url }}" width="200" height="200" class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ book.name }}</h5>
                    <a href="{% url 'show' book.id %}" class="btn btn-primary">Show</a>
                    <form method="post" action="{% url 'borrow_book' book.id %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-warning" value="Borrow">
                    </form>


                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}


