{% extends 'layout/base.html'  %}
{% load static %}
{% block title %} Add new Book  {% endblock %}

<!--enctype="multipart/form-data"-->
{% block content %}
<div class="bg-light">
    <h1> Add new Book via forms </h1>
    <form  enctype="multipart/form-data" method="post" >
        {% csrf_token %}
        {{form}}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <script src="{% static 'students/js/script.js' %}"></script>

    {% endblock %}


    {% block body %}


    {% endblock %}