{% extends 'layout/base.html' %}
{% load static %}
{% block title %} Books avalibale  {% endblock %}

{% block content %}
<div class="bg-light">
    <h1> All Books </h1>
    <a href="{% url 'books.create' %}" class="btn btn-outline-dark"> Add new book </a>
    <h1> </h1>

<!--    {{object_list}}-->

    {% for book in books %}

    <div style="display:inline-block">
        <div class="card" style="width: 18rem;">
            <img src="{{book.get_image_url}}" width="200" height="200" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">{{book.name}}</h5>
                <a href="{{book.get_show_url}}" class="btn btn-primary">Show</a>
                <a href="{{book.get_edit_url}}" class="btn btn-warning">Edit</a>
                <a href="{{book.get_delete_url}}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}